body{
background-color: #051937;
}
.container{
  margin: 0 auto;
  display: block;
text-align: center;
  padding: 40px;
  border-radius: 5px;
  margin-top: 200px;
  max-width: 800px;
  box-shadow: 15px 15px 20px rgba(0,0,0,0.2);
  background-color: white;
  opacity: 0.9;
}
h1{
  color: black;
  letter-spacing: 2px;
  font-size: 70px;
}
.dice{
  font-size: 150px;
  animation-duration: 1s;
  animation-fill-mode:both;
}

.roll-animation{
  animation: roll 1s forwards;
}
@keyframes roll{
0%{
transform: rotateY(0deg) rotateX(0deg);
}
100%{
  transform: rotateY(720deg) rotateX(720deg);
}
}
.previous-dice{
  font-size: 70px;
}
button {
  cursor: pointer;
  border: 0px solid rgb(187, 204, 0);
  font-family: "system-ui";
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 14px 30px;
  transition: 300ms;
  width: 181px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 2px;
  background: rgb(181, 196, 16);
 
  }
  button:hover{
  color: rgb(255, 255, 255);
  width: 240px;
  background: rgb(120, 130, 5) none repeat scroll 0% 0% / auto padding-box border-box;
  border-color: rgb(130, 140, 14);
  border-width: 2px;
  border-style: solid;
  }
ul{
  margin-top: 50px;
}
li{
align-items: baseline;
  font-size: 20px;
  list-style: none;
}